In [484]:
import pandas as pd

In [485]:
train = pd.read_csv("train.csv")

In [486]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [487]:
train.shape

(31962, 3)

Text Preprocessing

In [488]:
#Drop the "Id" column as it does not add value to the dataset

train.drop('id',axis=1,inplace=True)

In [489]:
train.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [490]:
# Checking for the balance of dataset

print(train['label'].value_counts())

"""We can observe that the dataset is unbalanced. So we use further techniques to make the data balanced."""

0    29720
1     2242
Name: label, dtype: int64

'We can observe that the dataset is unbalanced. So we use further techniques to make the data balanced.'

In [491]:
# Making a copy of the dataset

df = train

In [492]:
#Importing NearMiss() library for performing under sampling to balance dataset

from imblearn.under_sampling import NearMiss

X,y  = df["tweet"],df['label']

In [493]:
#Creating an object for NearMiss()

sampling = NearMiss()

In [494]:
# Converting all the tweets to lower case
df['tweet'].str.lower()

0         @user when a father is dysfunctional and is s...
1        @user @user thanks for #lyft credit i can't us...
2                                      bihday your majesty
3        #model   i love u take with u all the time in ...
4                   factsguide: society now    #motivation
                               ...
31957    ate @user isz that youuu?ðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    @user #sikh #temple vandalised in in #calgary,...
31961                     thank you @user for you follow
Name: tweet, Length: 31962, dtype: object

In [495]:
#Cross checking if all the tweets have been transformed to lower case letters.
#for x in df['tweet']:
 #   if x.islower() == False:
  #      print(x)
        
        
# Since no output is printed, we can confirm that all the tweets have been transformed to lowercase.

In [496]:
#Appending all the tweets into a list for the convinience of text pre-processing. 
tweets = []

for x in range(0,len(df)):
    tweets.append("".join(str(x) for x in df.iloc[x,1]))

In [497]:
#Importing nltk library, wordnetlemmatizer and stop words

import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer

In [498]:
# Creating an object for wordnet lemmatizer

lemmatizer = WordNetLemmatizer()

In [499]:
# Removing stop words and performing lemmatization on tweets

for x in range(0,len(df)):
    word = nltk.word_tokenize(tweets[x])
    words = [lemmatizer.lemmatize(a) for a in word if a not in set(stopwords.words("english"))]
    tweets[x] = " ".join(words)

In [500]:
df.head(1)

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...

In [501]:
for i in range(0,len(tweets)):
    df.iloc[i,1] = tweets[i]

In [502]:
df.head(1)

   label                                              tweet
0      0  @ user father dysfunctional selfish drag kid d...

In [503]:
# Eliminating all the punctuations in the sentences. 

df.replace("[^a-zA-Z]"," ",regex=True,inplace=True)

In [504]:
df.head(1)

   label                                              tweet
0      0    user father dysfunctional selfish drag kid d...

In [505]:
#Appending all the tweets into a list
tweets = []

for x in range(0,len(df)):
    tweets.append("".join(str(x) for x in df.iloc[x,1]))

In [506]:
df_balanced = df[df['label']==1]

In [507]:
sample_ = df[df['label']==0]

In [508]:
sample_ = sample_.sample(len(df_balanced))

In [509]:
balanced_df = pd.concat([sample_,df_balanced],axis=0)

In [510]:
#Balanced dataset

balanced_df['label'].value_counts()

0    2242
1    2242
Name: label, dtype: int64

In [511]:
balanced_df.index = [x for x in range(len(balanced_df))]

In [512]:
train,test = balanced_df['tweet'],balanced_df['label']

In [513]:
train = pd.DataFrame(train, columns=["tweet"])
test = pd.DataFrame(test, columns=["label"])

In [514]:
def index_corrector(df):
    df.index = [x for x in range(len(df))]

In [515]:
from sklearn.model_selection import train_test_split

In [516]:
train_X,test_X,train_y,test_y = train_test_split(train,test,test_size=0.23,random_state=0)

In [517]:
train_tweets= []
test_tweets = []

In [518]:
for x in train_X['tweet']:
    train_tweets.append(x)
    
for y in test_X['tweet']:
    test_tweets.append(y)

In [519]:
print(len(train_tweets),len(test_tweets))

3452 1032

In [520]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
train_X = cv.fit_transform(train_tweets)

In [521]:
train_X

<3452x8237 sparse matrix of type '<class 'numpy.int64'>'
	with 27866 stored elements in Compressed Sparse Row format>

In [522]:
test_X

                                                  tweet
379    h thing get excited     little   green   pain...
1939  bought   acsm guideline exercise testing presc...
4202                  destroyed one minute   janeelliot
1856   m walking around nyc dont paranoid tee random...
872   wait another hour able play game   starcraft  ...
...                                                 ...
3029        y all   global   may lose folk understand
2450              destructive socialist   maddow   user
2361  paul beloy   still issue varying level belgian...
2829    user come   supermistict douchebag poke nose...
4421            malia shake as   fine         pas blunt

[1032 rows x 1 columns]

In [523]:
final_tweet

<1x8244 sparse matrix of type '<class 'numpy.int64'>'
	with 7 stored elements in Compressed Sparse Row format>

In [524]:
from sklearn.ensemble import RandomForestClassifier

In [525]:
model = RandomForestClassifier()

In [526]:
model.fit(train_X,train_y)

/var/folders/r_/18s94lss4v17lxv_n1qp6k8r0000gn/T/ipykernel_3083/3489061369.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_X,train_y)

RandomForestClassifier()

In [527]:
test_X = cv.transform(test_tweets)

In [528]:
test_X

<1032x8237 sparse matrix of type '<class 'numpy.int64'>'
	with 6899 stored elements in Compressed Sparse Row format>

In [529]:
model.predict(test_X)

array([0, 0, 0, ..., 1, 1, 0])

In [530]:
from sklearn.metrics import accuracy_score

In [531]:
score = accuracy_score(test_y,model.predict(test_X))

In [532]:
score

0.8517441860465116

In [533]:
test_data = pd.read_csv("test.csv",usecols=['tweet'])

In [534]:
test_data

                                                   tweet
0      #studiolife #aislife #requires #passion #dedic...
1       @user #white #supremacists want everyone to s...
2      safe ways to heal your #acne!!    #altwaystohe...
3      is the hp and the cursed child book up for res...
4        3rd #bihday to my amazing, hilarious #nephew...
...                                                  ...
17192  thought factory: left-right polarisation! #tru...
17193  feeling like a mermaid ð #hairflip #neverre...
17194  #hillary #campaigned today in #ohio((omg)) &am...
17195  happy, at work conference: right mindset leads...
17196  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 1 columns]

In [535]:
testing_dataset_tweets = [ ]

def text_preprocessing(df,col_name,list_name):
    
    df[col_name].str.lower()
    
    for x in range(0,len(df)):
        list_name.append("".join(str(a) for a in df.iloc[x,0]))

        
    for y in range(0,len(df)):
        collection = nltk.word_tokenize(list_name[y])
        collections = [lemmatizer.lemmatize(sent) for sent in collection if sent not in set(stopwords.words("english"))]
        list_name[y] = " ".join(collections)

    for z in range(0,len(df)):
        df.iloc[z,0] = list_name[z]
    
    df.replace("[^a-zA-Z]"," ",regex=True,inplace=True)
    
    list_name.clear()
    
    for f in range(0,len(df)):
        list_name.append("".join(str(t) for t in df.iloc[f,0]))

In [536]:
text_preprocessing(test_data,'tweet',testing_dataset_tweets)

In [537]:
final_test_data = cv.transform(testing_dataset_tweets)

In [538]:
labels = pd.DataFrame(model.predict(final_test_data),columns=['label'])

In [539]:
labels

       label
0          0
1          1
2          0
3          0
4          0
...      ...
17192      1
17193      0
17194      1
17195      0
17196      0

[17197 rows x 1 columns]

In [540]:
test_data

                                                   tweet
0        studiolife   aislife   requires   passion   ...
1        user   white   supremacist want everyone see...
2      safe way heal   acne       altwaystoheal   hea...
3      hp cursed child book reservation already   yes...
4       rd   bihday amazing   hilarious   nephew eli ...
...                                                  ...
17192  thought factory   left right polarisation     ...
17193  feeling like mermaid        hairflip   neverre...
17194    hillary   campaigned today   ohio     omg   ...
17195  happy   work conference   right mindset lead c...
17196  song    glad    free download     shoegaze   n...

[17197 rows x 1 columns]

In [541]:
final_test_data = pd.concat([test_data,labels],axis=1)

In [542]:
final_test_data

                                                   tweet  label
0        studiolife   aislife   requires   passion   ...      0
1        user   white   supremacist want everyone see...      1
2      safe way heal   acne       altwaystoheal   hea...      0
3      hp cursed child book reservation already   yes...      0
4       rd   bihday amazing   hilarious   nephew eli ...      0
...                                                  ...    ...
17192  thought factory   left right polarisation     ...      1
17193  feeling like mermaid        hairflip   neverre...      0
17194    hillary   campaigned today   ohio     omg   ...      1
17195  happy   work conference   right mindset lead c...      0
17196  song    glad    free download     shoegaze   n...      0

[17197 rows x 2 columns]

In [543]:
import pickle
import flask

In [544]:
file = open("model.pkl",'wb')
pickle.dump(model,file)

In [545]:
vectorizer = open("vectorizer.pkl",'wb')
pickle.dump(cv,vectorizer)